<a href="https://colab.research.google.com/github/yogeshdhome/Coursera-IBM-AI-ML-Course/blob/master/RegressionModel_ConcreteStrength.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import keras
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
concrete_df = pd.read_csv('/content/sample_data/concrete_data.csv')

In [5]:
concrete_df.shape

(1030, 9)

In [6]:
concrete_df.columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [7]:
concrete_df.head(5)

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [9]:
concrete_df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [11]:
concrete_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [17]:
np.sort(concrete_df['Age'].unique())

array([  1,   3,   7,  14,  28,  56,  90,  91, 100, 120, 180, 270, 360,
       365])

In [24]:
concrete_df.groupby(['Age']).count()

     Cement  Blast Furnace Slag  ...  Fine Aggregate  Strength
Age                              ...
1         2                   2  ...               2         2
3       134                 134  ...             134       134
7       126                 126  ...             126       126
14       62                  62  ...              62        62
28      425                 425  ...             425       425
56       91                  91  ...              91        91
90       54                  54  ...              54        54
91       22                  22  ...              22        22
100      52                  52  ...              52        52
120       3                   3  ...               3         3
180      26                  26  ...              26        26
270      13                  13  ...              13        13
360       6                   6  ...               6         6
365      14                  14  ...              14        14

[14 rows x 8 columns]

In [26]:
X_train, X_test, y_train, y_test = train_test_split(concrete_df.drop(['Strength'],axis=1), concrete_df['Strength'], test_size=0.3, random_state=101)

In [28]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(721, 8)
(309, 8)
(721,)
(309,)

In [33]:
n_cols = X_train.shape[1]
n_cols

8

In [38]:
def RegressionNeuralModel():
  # Create model with 1 hidden layer having 10 nodes
  RegressionModel = Sequential()
  RegressionModel.add(Dense(10,activation='relu',input_shape=(n_cols,)))
  RegressionModel.add(Dense(1))

  # Compile the model
  RegressionModel.compile(optimizer='adam',loss='mean_squared_error')
  return RegressionModel

In [39]:
# Build the model
model = RegressionNeuralModel()

In [40]:
# Fit the model with epochs=50
model.fit(X_train,y_train,epochs=50,verbose=1)

Epoch 1/50
23/23 [==============================] - 13s 2ms/step - loss: 1597.9998
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 1055.0661
Epoch 3/50
23/23 [==============================] - 0s 2ms/step - loss: 894.5149
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 684.3636
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 550.8759
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 536.3496
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 481.9248
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 367.0489
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 343.3622
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 283.5827
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 247.4574
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 224.1040
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 195.9313
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 197.9781
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 181.3088
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 169.4082
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 154.2665
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 153.3442
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 158.0367
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 140.8414
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 136.0901
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 132.8116
Epoch 23/50
23/23 [==============================] - 0s 2ms/step - loss: 135.8922
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 120.3434
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 130.8079
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 124.3298
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 123.6561
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 123.2864
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 127.2079
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 104.8335
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 110.3121
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 110.7583
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 115.1522
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 102.0722
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 109.0735
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 100.0574
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 103.3432
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 102.9890
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 101.2159
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 103.4773
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 93.4384
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 101.6954
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 107.2133
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 96.9367
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 92.8785
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 89.3059
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 96.2074
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 90.2604
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 88.3155
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 93.4934

In [41]:
from sklearn.metrics import mean_squared_error

In [42]:
# Predict the label(y_pred) from X_test
y_pred = model.predict(X_test)

In [43]:
#Mean squared error for current run
print("Mean Squared error = {}".format(mean_squared_error(y_test,y_pred)))

Mean Squared error = 95.83574707043852

In [44]:
#Root Mean square error for current run
print("Root Mean Squared error = {}".format(np.sqrt(mean_squared_error(y_test,y_pred))))

Root Mean Squared error = 9.789573385517803

In [51]:
np.random.randint(0,100,1)

array([86])

In [53]:
#Define the function to run steps 1-3 for 50(n) times, also selecting random state dyamically
def MeanSquaredErrors(n):
  i = 0
  mean_error = []
  for i in range(n):
    X_train, X_test, y_train, y_test = train_test_split(concrete_df.drop(['Strength'],axis=1), concrete_df['Strength'], test_size=0.3, random_state=np.random.randint(0,100,1)[0])
    model.fit(X_train,y_train,epochs=50,verbose=0)
    mean_error.append(mean_squared_error(y_test,model.predict(X_test)))

  return mean_error

mean_square_list = MeanSquaredErrors(50)

In [54]:
len(mean_square_list)

50

In [57]:
#Mean of the Mean Squared errors from 50 runs
np.mean(mean_square_list)

46.110293425510214

In [58]:
#Standard Deviation of the Mean Squared errors from 50 runs
np.std(mean_square_list)

3.47691892792718